body {
    display: grid;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
article {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
}
footer {
    display: grid;
    align-items: center;
    margin: 20px 0;
}
footer p {
    padding: 5px 10px;
    margin: 0;
    text-align: center;
}
nav {
    text-align: center;
    margin-top: 20px;
}
header {
    background: #002b36;
    color: #e9e5d2;
    display: block;
    width: 100%;
    line-height: 22px;
    padding: 10px 0;
    border-bottom: 5px solid #268bd2;
}
header h1 {
    margin: 0;
    font-size: 20px;
    display: inline;
    padding: 0 10px;
}
header p {
    margin: 0;
    font-size: 14px;
    float: right;
    display: inline;
    padding: 0 10px;
}
.pico {
    padding: 0px;
    position: relative;
    top: -8px;
}
.labels.right {
    counter-reset: pin 41;
    display: grid;
    align-items: left;
}
.labels.left {
    direction: rtl;
    display: grid;
    align-items: right;
}
.labels tr {
    counter-increment: pin;
    line-height: 20px;
    color: #333333;
    font-size: 0;
}
.labels.left tr {
    direction: ltr;
}
.labels.right tr {
    counter-increment: pin -1;
}
.labels th, .labels thead {display:none;}
.labels tr:before {
    content: counter(pin);
    text-align: center;
    float: right;
    background-color: #CCCCCC;
    width: 20px;
    height: 20px;
    font-size: 11px;
}
.labels.right tr:before {
    float: left;
}
td {
    height: 20px;
    text-align: left;
    overflow: hidden;
    color: #222;
    font-size: 12px;
    cursor: default;
    white-space: nowrap;
    position: relative;
    border-width:0 4px 0 4px;
    border-style: solid;
    padding: 0 8px;
}

/* Hide advanced labels by default */
.labels .advanced {visibility: hidden;}
.labels .adc.hidden, .labels.right .spi.hidden {visibility: hidden;}
.labels .i2c.hidden, .labels.left .spi.hidden, .labels .uart.hidden, .labels .pwm.hidden {display: none;}
.filter li.advanced {display: none;}

.pinout.hidden-spi .labels.right .adc.hidden {display:none;}
.pinout.hidden-adc .labels.right .spi.hidden {display:none;}

.gpio   {background-color: #85990033;border-color: #859900;}
.ground {background-color: #002b3633;border-color: #002b36;}
.power  {background-color: #dc322f33;border-color: #dc322f;}
.adc    {background-color: #2aa19833;border-color: #2aa198;}
.system {background-color: #df8f8e33;border-color: #df8f8e;}
.i2c    {background-color: #268bd233;border-color: #268bd2;}
.spi    {background-color: #d3368233;border-color: #d33682;}
.uart   {background-color: #6c71c433;border-color: #6c71c4;}
.uart.default {background-color: #494daa33;border-color: #494daa;}
.pwm    {background-color: #33333333;border-color: #333333;}

.labels.left td {border-width:0 0 0 4px;}
.labels.right td {border-width:0 4px 0 0;}

.labels tr:hover:before {background-color: #eeeeee;}
.labels tr:hover .gpio {background-color: #9fb80366;}
.labels tr:hover .ground {background-color: #01435366;}
.labels tr:hover .power {background-color: #f13a3766;}
.labels tr:hover .adc {background-color: #39d1c466;}
.labels tr:hover .system {background-color: #fab4b266;}
.labels tr:hover .i2c {background-color: #3ba6f166;}
.labels tr:hover .spi {background-color: #f34f9f66;}
.labels tr:hover .uart {background-color: #8d91e666;}
.labels tr:hover .uart.default {background-color: #686bce66;}
.labels tr:hover .pwm {background-color: #44444466;}

.filter {
    list-style: none;
    margin: 0;
    padding: 0;
}
.filter li {
    display: inline;
}
.filter label {
    display: inline-block;
    color: #002b36;
    padding: 0px 10px 0px 10px;
    line-height: 30px;
    user-select: none;
    margin-bottom: 5px;
}
.interfaces label {
    border-width:0 0px 0 30px;
    border-style: solid;
}
.filter input {
    margin: 0 10px 0 0;
}
.filter.interfaces label {
    color: #222;
}
.filter.interfaces {
    margin-bottom: 20px;
}
.nojs ul {display: none;}

/* Support for flipping board over to view from the bottom... */

/* Top-up View */
.underside {
    display: none;
}

/* Bottom-up View */
.underside-view .pico {
    display: none;
}
.underside-view .underside {
    display: block;
}
.underside-view {
    direction: rtl;
}
.underside-view .labels.left {
    direction: ltr;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
    }
    header {
        background: #111111;
        color: #666666;
        border-bottom-color: #222222;
    }
    .filter label,
    footer p,
    nav p {
        color: #666666;
    }
    footer a, footer a:visited {
        color: #1d6ca5;
    }
    footer a:hover {
        color: #3ba6f1;
    }
    .labels tr:before {
        background-color: #002b36;
        color: #e9e5d2;
    }
    .labels tr:hover:before {background-color: #013441;}
    .labels td, .filter.interfaces label {
        color: #e9e5d2;
    }
}